@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

.main-banner {
  padding: 0.9rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: url("images/banner1.png");
  background-size: 100%;
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #ffffff, 0 0 20px #ff0000, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.main-header__logo,
.main-header__search-menu,
.search-menu,
.search-menu__advert {
  display: inline-block;
}

.main-header {
  text-align: center;
}

.main-header__logo {
  padding: 1.25rem;
  margin: 0;
}

.main-header__search-menu {
  position: relative;
  padding: 1.5rem 1.9rem;
  bottom: 2.8rem;
  background-color: #CDE281;
  box-shadow: 2px 2px 5px 1px rgba(166, 166, 166, 0.8);
}

.search-menu__line {
  padding: 0.9rem;
  width: 35vw;
  height: 4vh;
  font-size: 0.9rem;
  outline: none;
  border: none;
  border-radius: 3px 0 0 3px;
  color: #134928;
}

.search-menu__button {
  position: relative;
  padding: 0.25rem 0.3rem 0.4rem 0.3rem;
  right: 2%;
  border: none;
  border-radius: 0 3px 3px 0;
  background-color: #5B8A4B;
  color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 49, 13, 0.6);
  cursor: pointer;
}

.search-menu__button:hover {
  border-radius: 0 3px 3px 0;
  background-color: #F8343B;
  color: white;
}


.search-menu__advert {
  position: relative;
  padding: 8px;
  margin: 0 0 0 1.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  border-radius: 3px;
  background-color: #F8343B;
  color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 49, 13, 0.6);
  cursor: pointer;
}

.search-menu__advert:hover {
  background-color: #5B8A4B;
}

.fa {
  position: relative;
  padding: 0.3rem;
  top: 2px;
  font-size: 1.25rem;
}

.main-nav {

}


