.main-menu__background {
  padding: 0 15rem;
  background-image: url("images/bg_intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.menu-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-link__background {
  padding: 0.1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: white;
}

.menu-link__background:hover {

}

.menu-link__background img {
  padding: 0.8rem 0 0 0;
}

.menu-link {
  margin: 1rem 0;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

/*спецпредложения*/

.main-aside {
  margin: 2rem;
  width: 330px;

}

.aside-header {
  padding: 1rem;
  color: white;
  background-color: #F8343B;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.aside-blocks {

}

.aside-block {
  border-top: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #F2F2F2;
}

.aside-image {
  padding: 0.6rem;
  width: 60px;
  border-radius: 50px;
}

.aside-link {
  margin: auto;
  flex-basis: 240px;
  padding: 0.3rem;
  text-decoration: none;
  color: black;
}

.aside-link:hover{
  text-decoration: underline;
}

.button-block {
  padding: 1rem 2.5rem;
  border: none;
}

.aside-button__advert {
  padding: 0.5rem;
  text-transform: uppercase;
  color: white;
  border-radius: 3px;
  background-color: #F8343B;
}

.aside-button__advert:hover {
  background-color: #4C8562;
  cursor: pointer;
}