@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

  /* верхний баннер */

.main-banner--top {
  display: flex;
  height: 7vh;
  background-image: url("images/banner1.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

  /* нижний баннер */

.main-banner--bottom {
  display: flex;
  height: 9vh;
  margin: 2rem 0;
  background-image: url(images/banner2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

  /* текст баннеров */

.main-banner__text {
  margin: auto;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.1vw 0.1vw 0 #8AC449;
}

  /* header: поисковая строка */

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
}

.main-header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 40px;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 5px;
  margin: 0 1rem;
  box-shadow: 4px 4px 3px -2px rgb(8, 49, 0, 50%);
  background-color: #CDE281;
}

.main-header__search-line {
  display: flex;
  flex-basis: 75%;
}
.main-header__line-text {
  width: 90%;
  height: 2.2rem;
  padding: 0 0.7rem;
  border: none;
  border-radius: 3px 0 0 3px;
  outline: none;
  color: #2A5C0B;
}

.main-header__line-button {
  width: 2.5rem;
  height: 2.2rem;
  border: none;
  border-radius: 0 3px 3px 0;
  background-color: white;
  color: #4C8562;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
}

.main-header__line-button:hover {
  border-radius: 0 3px 3px 0;
  background: #F8343B;
  color: white;
}

.main-header__advert {
  padding: 0 1rem;
}

.main-header__advert-button {
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 4px 4px 3px -2px rgb(8, 49, 0, 50%);
  background-color: #F8343B;
  color: white;
  font-weight: normal;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 2px 2px 1px rgb(11 128 0 / 75%);
}

.main-header__advert-button:hover {
  background-color: #4C8562;
}

  /* основная навигация */

.main-nav__links-block {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #8AC449;
}

.main-nav__links {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0;
  list-style-type: none;
}

.main-nav__link a {
  padding: 1rem 2rem;
  text-shadow: 2px 1px 1px rgb(11 128 0 / 60%);
  color: #2A5C0B;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav__links li a:hover {
  /*
  background-image: url("images/menu-active.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  */
  border-radius: 50%;
  background-color: #F8343B;
  color: white;
}

.main-nav__link--circle {
  padding: 0 1.5rem;
  color: #CDE281;
  font-size: 0.8rem;
}

.main-nav__accounts-links {
  position: relative;
  left: 40%;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__account-link a {
  padding: 0;
  margin: 0 1rem;
  color: white;
  font-weight: normal;
  text-transform: none;
}

.main-nav__account-link a:hover {
  color: #2A5C0B;
}

.fa-sign-in, .fa-key {
  padding: 0 0.5rem;
  color: #2A5C0B;
}

  /* bottom section */

.bottom_section {
  background-color: #8AC449;
  font-size: 0.8rem;
}

.bottom_section__block {
  display: flex;
  justify-content: center;
}

.bottom_section__logo {
  margin: auto 1.25rem;
}

.bottom_section__text {
  width: 50vw;
  padding: 0 1.25rem;
  border-left: 1px solid #294C2A;
  color: #294C2A;
}

  /* footer */

.main-footer {
  margin: 1rem 0 0;
}

.main-footer__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-footer__block {
  margin: 0 0.4rem;
}

.main-footer__block--list_background {
  background-image: url(images/images-icons/watermelon2.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.main-footer__links {
  margin: 0;
  list-style-type: none;
}

.main-footer__list {
  padding: 0.5rem 0;
}

.main-footer__link {
  color: #4C8562;
  text-decoration: none;
}

.main-footer__link:hover {
  text-decoration: underline;
}

.main-footer__block--social_networks {
  text-align: center;
}

.main-footer__title {
  padding: 0.5rem 0 0;
  text-transform: uppercase;
}

.main-footer__blocks--networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 17vw;
}

.main-footer__block--networks {
  padding: 0.4rem;
}

.main-footer__text {
  width: 18vw;
  padding: 0.5rem 0 0 0;
  margin: 0;
  color: #9a9a9a;
  font-size: 0.9rem;
}

.main-footer__block--image {
  width: 150px;
  height: 150px;
  margin: 0;
  background-image: url(images/images-icons/watermelon1.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.main-footer__underline {
  width: 100%;
  height: 20px;
  background-color: #8AC449;
}

  /* навигация по страницам -
 серая строка под меню навигации
  (на главной этого меню нет) */

.pages_navigation {
  margin: 1rem 5rem;
  color: grey;
  font-size: 0.9rem;
}

.pages_navigation__link {
  color: grey;
}

.pages_navigation__link:hover {
  color: #2A5C0B;
  text-decoration: none;
}


