.main-menu__background {
  padding: 0 15rem;
  background-image: url("images/bg_intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.menu-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-link__background {
  padding: 0.1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: white;
}

.menu-link__background:hover {

}

.menu-link__background img {
  padding: 0.8rem 0 0 0;
}

.menu-link {
  margin: 1rem 0;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

/*новости*/

.main-news {
  margin: 1rem;
  width: 55%;
}

.news-header {
  padding: 0.4rem;
  background-color: #8AC449;
  color: #2A5C0B;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.fa-newspaper-o {
  color: #CDE281;
  padding: 0 0.4rem;
}

.news-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news-block__form {
  padding: 0.2rem;
  margin: 1rem;
  width: 310px;
  height: fit-content;
  background-color: #F2F2F2;
}

.news-block__link {
  text-decoration: none;
  color: black;
}

.news-block__link:hover {
  text-decoration: underline;
}

.news-block {
  position: relative;
}

.block-image {
  width: 310px;
}

.activity {
  padding: 0 0.5rem;
  position: absolute;
  font-size: small;
  bottom: 6px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}