@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

  /* верхний баннер */

.main-banner__top {
  display: flex;
  height: 7vh;
  background-image: url("images/banner1.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.banner-text {
  margin: auto;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.1vw 0.1vw 0 #8AC449;
}

  /* header: поисковая строка */

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 40px;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 5px;
  margin: 0 1rem;
  box-shadow: 4px 4px 3px -2px rgb(8, 49, 0, 50%);
  background-color: #CDE281;
}

.header-search__line {
  display: flex;
  flex-basis: 75%;
}
.line-text {
  width: 90%;
  height: 2.2rem;
  padding: 0 0.7rem;
  border: none;
  border-radius: 3px 0 0 3px;
  outline: none;
  color: #2A5C0B;
}

.line-button {
  width: 2.5rem;
  height: 2.2rem;
  border: none;
  border-radius: 0 3px 3px 0;
  background-color: white;
  color: #4C8562;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
}

.line-button:hover {
  border-radius: 0 3px 3px 0;
  background: #F8343B;
  color: white;
}

.header-advert {
  padding: 0 1rem;
}

.advert__button {
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 4px 4px 3px -2px rgb(8, 49, 0, 50%);
  background-color: #F8343B;
  color: white;
  font-weight: normal;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 2px 2px 1px rgb(11 128 0 / 75%);
}

.advert__button:hover {
  background-color: #4C8562;
}

  /* основная навигация */

.main-nav-links {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #8AC449;
}

.nav-links {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0;
  list-style-type: none;
}

.nav-link a {
  padding: 1rem 2rem;
  text-shadow: 2px 1px 1px rgb(11 128 0 / 60%);
  color: #2A5C0B;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links li a:hover {
  /*
  background-image: url("images/menu-active.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  */
  border-radius: 50%;
  background-color: #F8343B;
  color: white;
}

.circle {
  padding: 0 1.5rem;
  color: #CDE281;
  font-size: 0.8rem;
}

.accounts-links {
  position: relative;
  left: 40%;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.account-link a {
  padding: 0;
  margin: 0 1rem;
  color: white;
  font-weight: normal;
  text-transform: none;
}

.account-link a:hover {
  color: #2A5C0B;
}

.fa-sign-in, .fa-key {
  padding: 0 0.5rem;
  color: #2A5C0B;
}

  /* footer */

.main-bottom_section {
  background-color: #8AC449;
  font-size: 0.8rem;
}

.bottom_section-line {
  display: flex;
  justify-content: center;
}

.bottom_section-line__logo {
  margin: auto 1.25rem;
}

.bottom_section-line__text {
  width: 50vw;
  padding: 0 1.25rem;
  border-left: 1px solid #294C2A;
  color: #294C2A;
}

.main-footer {
  margin: 1rem 0 0;
}

.footer-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-block {
  margin: 0 0.4rem;
}

.list_background {
  background-image: url(images-icons/watermelon2.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.footer-block__links {
  margin: 0;
  list-style-type: none;
}

.footer-block__list {
  padding: 0.5rem 0;
}

.footer-block__link {
  color: #4C8562;
  text-decoration: none;
}

.footer-block__link:hover {
  text-decoration: underline;
}

.social_networks {
  text-align: center;
}

.social_networks-header {
  padding: 0.5rem 0 0;
  text-transform: uppercase;
}

.footer-block__social_networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 17vw;
}

.footer-block__social_network {
  padding: 0.4rem;
}

.footer-block__text {
  width: 18vw;
  padding: 0.5rem 0 0 0;
  margin: 0;
  color: #9a9a9a;
  font-size: 0.9rem;
}

.footer-block__image {
  width: 150px;
  height: 150px;
  margin: 0;
  background-image: url(images-icons/watermelon1.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.footer-underline {
  width: 100%;
  height: 20px;
  background-color: #8AC449;
}

  /* навигация по страницам
   (на главной этого меню нет) */

.pages_navigation {
  margin: 1rem 5rem;
  color: grey;
  font-size: 0.9rem;
}

.pages_navigation-link {
  color: grey;
}

.pages_navigation-link:hover {
  color: #2A5C0B;
  text-decoration: none;
}


