@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

.main-banner {
  padding: 0.9rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: url("images/banner1.png");
  background-size: 100%;
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #ffffff, 0 0 20px #ff0000, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.main-header__logo,
.main-header__search-menu,
.search-menu,
.search-menu__advert {
  display: inline-block;
}

.main-header {
  text-align: center;
}

.main-header__logo {
  padding: 1.25rem;
  margin: 0;
}

.main-header__search-menu {
  position: relative;
  padding: 1.5rem 1.9rem;
  bottom: 2.8rem;
  background-color: #CDE281;
  box-shadow: 2px 2px 5px 1px rgba(166, 166, 166, 0.8);
}

.search-menu__line {
  padding: 0.9rem;
  width: 35vw;
  height: 4vh;
  font-size: 0.9rem;
  outline: none;
  border: none;
  border-radius: 3px 0 0 3px;
  color: #134928;
}

.search-menu__button {
  position: relative;
  padding: 0.25rem 0.3rem 0.4rem 0.3rem;
  right: 2%;
  border: none;
  border-radius: 0 3px 3px 0;
  background-color: #5B8A4B;
  color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 49, 13, 0.6);
  cursor: pointer;
}

.search-menu__button:hover {
  border-radius: 0 3px 3px 0;
  background-color: #F8343B;
  color: white;
}


.search-menu__advert {
  position: relative;
  padding: 8px;
  margin: 0 0 0 1.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  border-radius: 3px;
  background-color: #F8343B;
  color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 49, 13, 0.6);
  cursor: pointer;
}

.search-menu__advert:hover {
  background-color: #5B8A4B;
}

.fa {
  position: relative;
  padding: 0.3rem;
  top: 2px;
  font-size: 1.25rem;
}

.main-nav {

}

.main-footer {
  font-size: 0.8rem;
}

.main-footer-info {
  text-align: center;
  background-color: #8AC449;
}

.footer-info__logo,
.footer-info__description {
  display: inline-block;
}

.footer-info__logo {
  bottom: 0.7vh;
  position: relative;
  padding: 0 1.25rem;
}

.footer-info__description {
  padding: 0 1.25rem;
  margin: 1rem 0;
  text-align: left;
  width: 50vw;
  color: #294C2A;
  font-weight: bold;
  border-left: 1px solid #294C2A;
}

.main-footer-menu {
  text-align: center;
}

.footer-menu__links,
.footer-menu__links-network,
.footer-menu__copyright,
.footer-menu__decor-2 {
  display: inline-block;
  margin: 1rem 1rem;
  height: 112px;
}

.footer-menu__links > ul,
.footer-menu__links-network > ul {
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.footer-menu__link {
  padding: 0.3rem 0;
}

.footer-menu__link a {
  text-decoration: none;
  color: #4C8562;
}

.footer-menu__link a:hover {
  text-decoration: underline;
}

.footer-menu__links-network ul {
  padding: 0;
}

.footer-menu__links-network ul li {
  display: inline;
}

.footer-menu__copyright {
  text-align: left;
  width: 25%;
  color: #9A9A9A;
}

.footer-menu__decor-1 {
  position: relative;
  background-image: url(images-icons/watermelon2.png);
  background-repeat: no-repeat;
  width: 83px;
  height: 67px;
  left: 4vw;
  bottom: 1.3vh;

}

.footer-menu__decor-2 {
  float: right;
  position: relative;
  margin: 0;
  background-image: url(images-icons/watermelon1.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 149px;
  right: 19vw;
  top: 2vh;
}

.footer-menu_end {
  height: 20px;
  background-color: #8AC449;
}


