.news-page {
  display: flex;
  justify-content: center;
  margin: 1.4rem;
}

.news-page__section {
  display: block;
  flex-basis: 80%;
}

.news-page__header {
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 4px 4px 3px -2px rgb(8, 49, 0, 50%);
  background-color: #8AC449;
  color: #2A5C0B;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgb(11 128 0 / 75%);
}

.fa-newspaper-o {
  padding: 0 0.4rem;
  color: #CDE281;
}

.news-page__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news-page__first-block {
  width: 700px;
  padding: 0.3rem;
  border-radius: 4px;
  margin: 0.3rem;
  background-color: #F2F2F2;
}

.news-page__block {
  padding: 0.3rem;
  border-radius: 4px;
  margin: 0.3rem;
  background-color: #F2F2F2;
}

.news-page__first-block:hover,
.news-page__block:hover {
  box-shadow: 0 8px 8px rgb(50 50 71 / 11%),
              0 8px 16px rgb(50 50 71 / 9%);
}

.news-page__big-image {
  width: 700px;
}

.news-page__mini-images--blocks {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  align-items: center;
  padding: 0.5rem 0;
}

.mini_image-block:hover img {
  width: 330px;
}

.news-page__mini-images {
  width: 180px;
  padding: 0 0.1rem;
  transition:width 0.5s ease;
}

.news-page__content {
  margin: 0;
  font-weight: normal;
}

.news-page__second-block {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.news_page-banners {
  flex-basis: 15%;
  margin: 0 1.4rem;
}

.news_page-banners__right1 {
  display: flex;
  height: 470px;
  background-image: url(../images/banner_news_1.jpg);
  background-size: 100%;
}

.news_page-banners__right2 {
  display: flex;
  height: 225px;
  margin-top: 1rem;
  background-image: url(../images/banner_news_2.jpg);
  background-size: 100%;
}

/* Видеорепортажи */

.video-reports {
  margin: 1.4rem 0;
  background-image: url(../images/terrikony_1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
}


.video-reports__header {
  padding: 0.4rem;
  background-color: rgba(167, 33, 33, 0.8);
  color: #3a0202;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgb(58 2 2 / 75%);
}

.fa-video-camera {
  padding: 0 0.4rem;
  color: rgb(107, 5, 5);
}

.video-reports__text {
  margin: 0;
  font-size: 1.125rem;
}

.video-reports__helper:after {
  content: attr(data-tooltip);
  color: #8AC449;
  text-shadow: 2px 2px 1px rgb(11 128 0 / 75%);
  transition: 1s;
  opacity: 0;
}

.video-reports__helper:hover:after{
  opacity: 1;
}

.fa-question-circle {
  padding: 0 0.5rem;
  color: #8AC449;
  font-size: 1.3rem;
  cursor: pointer;
}

.video-reports__videos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
  margin: 0;
  list-style-type: none;
  overflow-x: auto;
}

.video-reports__videos::-webkit-scrollbar {
  display: none;
}

.video-reports__block {
  width: 605px;
  background-color: rgba(58, 2, 2, 0.8);
}

.video-reports__video {
  display: block;
  padding: 0.2rem;
}

.video-reports__video-title {
  width: 590px;
  margin: 0.3rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.video-reports__video-source {
  width: 590px;
  margin: 0.3rem;
  color: #b6b6b6;
  font-size: 0.9rem;
  font-style: italic;
}

.video-reports__source-link {
  color: #8AC449;
}

.video-reports__source-link:hover {
  text-decoration: none;
}

/* новости в строку */

.news-lists__header {
  padding: 0.5rem;
  border-radius: 4px;
  margin: 0.5rem 1rem;
  background-color: #f8343b;
  color: white;
  text-transform: uppercase;
}

.news-lists__header-text {
  margin: 0;
  font-size: 1.125rem;
  text-shadow: 2px 2px 1px rgb(11 128 0 / 75%);
}

.news-lists__lists {
  padding: 0.5rem;
  margin: 0.5rem;
  list-style-type: none;
}

.news-lists__list {
  padding: 0.5rem;
  border-radius: 4px;
  background-image: url("../images/arbyz_icon_2.png");
  background-position-x: -5px;
  background-position-y: center;
  background-size: 4%;
  background-repeat: no-repeat;
}

.news-lists__list:nth-child(odd) {
  background-color: rgba(116, 199, 19, 0.3);
  background-image: url("../images/arbyz_icon.png");
  background-position-x: left;
  background-position-y: center;
  background-size: 3%;
  background-repeat: no-repeat;
}

.news-lists__link {
  padding: 0 3.5rem;
  color: #2A5C0B;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 2px 3px rgb(10 128 0 / 75%);
}

.news-lists__link:hover {
  color: #F8343B;
}

.news-lists__date {
  padding: 0.3rem 3.5rem 0;
  margin: 0;
  font-size: 0.9rem;
}
